.App {
  padding-top: $app-top;
  padding-bottom: $app-bottom;
}

.Filters {
  margin-bottom: $filters-bottom;
}
.Filters .Filter {
  padding-bottom: $filter-bottom;
}

.NotesList {
  min-height: $noteslist-min-height;
  margin-bottom: $noteslist-bottom;
}

.Footer {
  color: silver;
}
.Footer a.author {
  color: silver;
}
.Footer a.author:hover {
  color: #2185d0;
  text-decoration: underline;
}
.Footer .years {
  font-size: 88%;
}

.clickableCard {
  cursor: pointer;
}

.ui.cards > .noteDone > .content > .header {
  text-decoration: line-through;
  color: lightgrey;
}
.ui.cards > .noteDone > .content > .description {
  color: Silver;
}

.ui.cards > .noteOpen:hover {
  background-color: #f4f4f4;
}
.ui.cards > .noteDone:hover {
  background-color: #f4f4f4;
}
.ui.cards > .noteDone:hover > .content > .header {
  color: #646464;
}
.ui.cards > .noteDone:hover > .content > .description {
  color: #646464;
}
