.App {
  padding-top: $app-top;
}

.Filters {
  margin-bottom: $filters-bottom;
}
.Filters .Filter {
  padding-bottom: $filter-bottom;
}

.NotesList {
  min-height: $noteslist-min-height;
  margin-bottom: $noteslist-bottom;
}

.Footer {
  margin-bottom: $footer-bottom;
}

.clickableCard {
  cursor: pointer;
}

.ui.cards > .noteDone > .content > .header {
  text-decoration: line-through;
  color: lightgrey;
}
.ui.cards > .noteDone > .content > .description {
  color: Silver;
}

.ui.cards > .noteOpen:hover {
  background-color: #f4f4f4;
}
.ui.cards > .noteDone:hover {
  background-color: #f4f4f4;
}
.ui.cards > .noteDone:hover > .content > .header {
  color: #646464;
}
.ui.cards > .noteDone:hover > .content > .description {
  color: #646464;
}
