.App {
  padding-top: 10px;
}

.NotesList {
  min-height: 80vmin;
}

.ui.cards > .noteDone > .content > .header {
  text-decoration: line-through;
  color: lightgrey;
}
.ui.cards > .noteDone > .content > .description {
  color: Silver;
}
