.App {
  padding-top: 10px;
}

.Filters {
  margin-bottom: 2vh;
}
.Filters .Filter {
  padding-bottom: 2vh;
}

.NotesList {
  min-height: 75vh;
  margin-bottom: 5vh;
}

.Footer {
  margin-bottom: 3vh;
}

.ui.cards > .noteDone > .content > .header {
  text-decoration: line-through;
  color: lightgrey;
}
.ui.cards > .noteDone > .content > .description {
  color: Silver;
}
